/* Add your styles here */

.app-logo {
    border-radius: min(40%, var(--vaadin-radius-m));
    margin-inline-start: var(--vaadin-padding-inline-container);
}

.app-name {
    font-weight: var(--aura-font-weight-semibold);
    font-size: var(--aura-font-size-l);
}

.app-footer {
    color: var(--vaadin-text-color-secondary);
    font-size: var(--aura-font-size-s);
}

/* TODO: This is only for demo purposes. You can delete it. */
vaadin-side-nav {
    border-radius: min(40%, var(--vaadin-radius-m));
    margin: 0%;
    font-size: var(--aura-font-size-s);
    color: var(--vaadin-text-color-secondary);
}