/* Add your styles here */

.app-logo {
    border-radius: min(40%, var(--vaadin-radius-m));
    margin-inline-start: var(--vaadin-padding-inline-container);
}


vaadin-side-nav {
    border-radius: min(40%, var(--vaadin-radius-m));
    margin: 0%;
    font-size: var(--lumo-font-size-s);
    color: var(--vaadin-text-color-secondary);
}

.code-text-detail {
    padding-left: 2em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-left: 1em;

    margin-right: 1em;
    margin-top: 0;
    width: 95%;
    max-height: 10em;
    overflow: auto;
    color: var(--lumo-body-text-color);
    background-color: var(--lumo-primary-color-10pct);
    box-shadow: var(--lumo-box-shadow-s);
    font-family: monospace;
    font-size: var(--lumo-font-size-s);
}

.case-grid {
    text-overflow: clip;
    margin-bottom: 4px;
}

.case-grid-info-text {
    color: var(--lumo-secondary-text-color);
    margin: 0;
    font-size: var(--lumo-font-size-s);
}
